html, body {  /* Select and size the outermost elements so other elements can be set in % */
	height:100%;
	width:99%;


}

body {
   font: 24px Helvetica;
   color: #000000;
   background-color: rgba(0, 10, 0, .91);
   
  }


    
 



  

   
   
   

  

 
  
